.info {
  position: absolute;
  margin: 80px auto 0;
  width: 1920px;
  height: 1800px;
  top: 0;
}

.phones {
  height: 680px;
}

.detail {
  position: relative;
  top: 455px;
  left: -440px;
  width: 200px;
  height: 64px;
  border-radius: 38px;
}

.apply {
  position: relative;
  top: 455px;
  left: -426px;
  width: 200px;
  height: 64px;
  border-radius: 38px;
}

.phone1 {
  position: relative;
  top: -43px;
  left: 1112px;
  opacity: 0;
  clip: rect(525px, 520px, 525px, 0px);
}

.phone2 {
  position: relative;
  top: 123px;
  left: 210px;
  opacity: 0;
  clip: rect(561px, 583px, 561px, 0px);
}

.coin {
  position: relative;
  top: -40px;
  left: -255px;
  opacity: 0;
  clip: rect(207px, 801px, 207px, 0px);
}

.benefit {
  width: 1920px;
  height: 1050px;
  margin: 0 auto;
}
.li {
  float: left;
}
.b1 {
  position: relative;
  top: 193px;
  left: 320px;
  opacity: 0;
  clip: rect(251px, 311px, 251px, 0px);
}
.b2 {
  position: relative;
  top: 193px;
  left: 496px;
  opacity: 0;
  clip: rect(251px, 285px, 251px, 0px);
}
.b3 {
  position: relative;
  top: 193px;
  left: 672px;
  opacity: 0;
  clip: rect(244px, 268px, 244px, 0px);
}
.b4 {
  position: relative;
  top: 576px;
  left: -515px;
  opacity: 0;
  clip: rect(240px, 288px, 240px, 0px);
}
.b5 {
  position: relative;
  top: 576px;
  left: -317px;
  opacity: 0;
  clip: rect(290px, 257px, 290px, 0px);
}
.b6 {
  position: relative;
  top: 576px;
  left: -84px;
  opacity: 0;
  clip: rect(304px, 264px, 304px, 0px);
}

.main_nav_ul {
  position: relative;
  top: -70px;
  left: 1081px;
  width: 520px;
  height: 49px;
}

.main_nav_li:nth-child(1) {
  position: relative;
  float: left;
  margin: 0 20px;
  top: 9px;
  right: 3px;
  width: 94px;
  height: 33px;
}
.main_nav_li:nth-child(2) {
  position: relative;
  float: left;
  margin: 0 20px;
  top: 11px;
  right: -9px;
  width: 77px;
  height: 33px;
}
.main_nav_li:nth-child(3) {
  position: relative;
  float: left;
  margin: 0 20px;
  top: 11px;
  right: -24px;
  width: 40px;
  height: 33px;
}
.main_nav_li:nth-child(4) {
  position: relative;
  float: left;
  margin: 0px;
  top: 2px;
  right: -50px;
  width: 140px;
  height: 46px;
  border-radius: 24px;
}

.ref {
  position: relative;
  top: -2720px;
  margin: 0 auto;
  z-index: 1;
}
